{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jump Rhythm | Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jump Rhythm</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
{% block audios %}
{% endblock %}
{% csrf_token %}
<!-- wrapper -->
<div id="wrapper">
    <div class="overlay"></div>
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Jump Rhythm
                </a>
            </li>
            <li class="sidebar-header">
                {% if request.user.is_authenticated %}
                    <div class="user-info">
                        <div class="user-profile">{{ request.user.username }}</div>
                        <div class="user-profile">{{ request.user.email }}</div>
                        <a href="{% url "sign_out" %}">
                            <span class="label label-danger">sign out</span>
                        </a>
                    </div>
                {% else %}
                    <div class="user-sign">
                        <a href="{% url "sign_in" %}">sign in</a>
                        <a href="{% url "sign_up" %}">sign up</a>
                    </div>
                {% endif %}
            </li>
            <li>
                <div class="btn-group mode" role="group" aria-label="...">
                    <button id="create-mode" type="button" class="btn btn-default">Create</button>
                    <button id="recognize-mode" type="button" class="btn btn-default">Recognize</button>
                    <button id="challenge-mode" type="button" class="btn btn-default">Challenge</button>
                    <button id="challenge-mode" type="button" class="btn btn-default">Challenge</button>
                </div>
            </li>
            <li>
                <div class="list-group">
                    <div id="tip" class="list-group-item">
                        <p>
                            {% if request.user.is_authenticated %}
                                {{ request.session.tip }}
                            {% else %}
                                Sign in to enjoy more.
                            {% endif %}
                        </p>
                    </div>
                    {% if request.session.records %}
                        {% for record in request.session.records %}
                            <div class="list-group-item overview">
                                <h4 class="list-group-item-heading">{{ record.title }}</h4>
                                <p class="list-group-item-text">{{ record.detail }}</p>
                                <div style="display: none;">{{ record.id }}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div id="history-id" style="display: none;"></div>
        <div id="history" style="display: none;"></div>
        <div class="modal fade" id="guide">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">JumpRhythm Tour Guide</h4>
                    </div>
                    <div class="modal-body">
                        <p>Say something about the novel world...&hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Next</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <p>
            <button data-toggle="modal" href="#guide" class="btn btn-primary btn-large">Help</button>
        </p>
        {% block container %}
        {% endblock %}
    </div>

    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

{#scripts#}
<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        // language=JQuery-CSS
        let trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });

        $(document).bind("contextmenu", function (e) {
            return false;
        });
    });

    $(function () {
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        let csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $('#create-mode').click(function () {
            window.location = {% url 'create' %};
        });

        $('#recognize-mode').click(function () {
            window.location = {% url 'recognize' %};
        });

        $('#challenge-mode').click(function () {
            window.location = {% url 'challenge' %};
        });

        let overviews = $('.overview');
        for (let i = 0; i < overviews.length; ++i) {
            $(overviews[i]).mousedown(function (event) {
                if (event.which === 1) { // left
                    if (window.mode === 1) {
                        let h = $(this).find('p').text();
                        let id = $(this).find('div').text();
                        $('#history').text(h);
                        $('#history-id').text(id);
                        CreateMode.init();
                    } else if (window.mode === 2) {
                        console.log('recognize mode');
                    } else if (window.mode === 3) {
                        console.log('challenge mode');
                    }
                } else if (event.which === 3) { // right
                    if (window.mode === 1) {
                        let hid = $(this).find('div').text();
                        console.log(hid);
                        {% if request.user.is_authenticated %}
                            $.ajax({
                                url: {% url 'create' %},
                                type: 'DELETE',
                                data: {'history-id': hid},
                                success: function () {
                                    alert('Deleted.');
                                    window.location = {% url 'create' %};
                                }
                            });
                        {% else %}
                            alert('Please sign in first.');
                        {% endif %}
                    }
                }
            });
        }
    });
</script>
{% block script %}
{% endblock %}
</body>
</html>