{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jump Rhythm | Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jump Rhythm</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
{% block audios %}
{% endblock %}
{% csrf_token %}
<!-- wrapper -->
<div id="wrapper">
    <div class="overlay"></div>
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Jump Rhythm
                </a>
            </li>
            <li class="sidebar-header">
                {% if request.user.is_authenticated %}
                    <div class="user-info">
                        <div class="user-profile">{{ request.user.username }}</div>
                        <div class="user-profile">{{ request.user.email }}</div>
                        <a href="{% url "sign_out" %}">
                            <span class="label label-danger">sign out</span>
                        </a>
                    </div>
                {% else %}
                    <div class="user-sign">
                        <a href="{% url "sign_in" %}">sign in</a>
                        <a href="{% url "sign_up" %}">sign up</a>
                    </div>
                {% endif %}
            </li>
            <li>
                <div class="btn-group mode" role="group" aria-label="...">
                    <button id="create-btn" type="button" class="btn btn-default">Create</button>
                    <button id="recognize-btn" type="button" class="btn btn-default">Recognize</button>
                    <button id="challenge-btn" type="button" class="btn btn-default">Challenge</button>
                </div>
            </li>
            <li>
                <div class="list-group">
                    <div id="tip" class="list-group-item">
                        <p>
                            {% if request.user.is_authenticated %}
                                {{ request.session.tip }}
                            {% else %}
                                Sign in to enjoy more.
                            {% endif %}
                        </p>
                    </div>
                    {% if request.session.history_list %}
                        {% for history in request.session.history_list %}
                            <div class="list-group-item overview" onclick="fillHistory(this)">
                                <h4 class="list-group-item-heading">{{ history.name }}</h4>
                                <p class="list-group-item-text">{{ history.record }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div id="history" style="display: none;"></div>
        {% block container %}
        {% endblock %}
    </div>

    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

{#scripts#}
<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        // language=JQuery-CSS
        let trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });

    $(function () {
        $('#create-btn').click(function () {
            window.location = {% url 'create' %};
        });

        $('#recognize-btn').click(function () {
            window.location = {% url 'recognize' %};
        });

        $('#challenge-btn').click(function () {
            window.location = {% url 'challenge' %};
        });
    });

    function fillHistory(that) {
        let h = $(that).find('p').text();
        $('#history').text(h);
        if (window.mode === 1) {
            CreateMode.init();
        } else if (window.mode === 2) {
            console.log('recognize mode');
        } else if (window.mode === 3) {
            console.log('challenge mode');
        }
    }
</script>
{% block script %}
{% endblock %}
</body>
</html>