{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jump Rhythm | Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jump Rhythm</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
{% block audios %}
{% endblock %}
{% csrf_token %}
<!-- wrapper -->
<div id="wrapper">
    <div class="overlay"></div>
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="{% url 'home' %}" style="width: 240px;">
                    Jump Rhythm
                </a>
            </li>
            <li class="sidebar-header">
                {% if request.user.is_authenticated %}
                    <div class="user-info user-sign">
                        <a class="user-profile">{{ request.user.username }}</a>
                        <span>|</span>
                        <a class="user-profile">{{ request.user.email }}</a>
                    </div>

                        <a href="{% url "sign_out" %}">
                            <span class="label label-danger">sign out</span>
                        </a>
                {% else %}
                    <div class="user-sign">
                        <a href="{% url "sign_in" %}">sign in</a>
                        <span>|</span>
                        <a href="{% url "sign_up" %}">sign up</a>
                    </div>
                {% endif %}
            </li>
            <li class="sidebar-btn">
{#                <div class="btn-group mode" role="group" aria-label="...">#}
                    <button id="create-mode" type="button" class="btn btn-default">Create</button>
                    <button id="recognize-mode" type="button" class="btn btn-default">Recognize</button>
                    <button id="challenge-mode" type="button" class="btn btn-default">Challenge</button>
{#                </div>#}
            </li>
            <li>
                <div class="list-group">
                    <div id="tip" class="list-group-item">
                        <p>
                            {% if request.user.is_authenticated %}
                                {{ request.session.tip }}
                            {% else %}
                                Sign in to enjoy more.
                            {% endif %}
                        </p>
                    </div>
                    {% if request.session.records %}
                        {% for record in request.session.records %}
                            <div class="list-group-item overview">
                                <h5 class="list-group-item-heading">{{ record.title }}</h5>
                                <p class="list-group-item-text">{{ record.detail }}</p>
                                <div style="display: none;">{{ record.id }}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </li>


        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div id="history-id" style="display: none;"></div>
        <div id="history" style="display: none;"></div>
        <div class="modal fade" id="guide">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">JumpRhythm Tour Guide</h4>
                    </div>
                    <div class="modal-body">
                        <p><strong>Create mode:</strong><br>
                            Double click the canvas to add a colorful point, different tones will be played depending on
                            where the points are placed.<br>
                            Points can be dragged to a new place with mouse.<br>
                            Dragging points outside the border to delete them.
                        </p>
                        <p><strong>Recognize mode:</strong><br>
                            Upload a piece of music to see the music!
                        </p>
                        <p><strong>Challenge mode:</strong><br>
                            Listen and recognize the tone played in background.<br>
                            Add points to proper grid and confirm your answer!<br>
                            The faster the tune played the higher score you'll gain.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <p style="
      text-align: right;
    margin: -39px 0;">
            <button data-toggle="modal" href="#guide" class="btn btn-primary btn-large">Help</button>
        </p>
        {% block container %}
        {% endblock %}
    </div>

    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

{#scripts#}
<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        // language=JQuery-CSS
        let trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });

        $(document).bind("contextmenu", function (e) {
            return false;
        });
    });

    $(function () {
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        let csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $('#create-mode').click(function () {
            window.location = {% url 'create' %};
        });

        $('#recognize-mode').click(function () {
            window.location = {% url 'recognize' %};
        });

        $('#challenge-mode').click(function () {
            window.location = {% url 'challenge' %};
        });

        let overviews = $('.overview');
        for (let i = 0; i < overviews.length; ++i) {
            $(overviews[i]).mousedown(function (event) {
                if (event.which === 1) { // left
                    let h = $(this).find('p').text();
                    let id = $(this).find('div').text();
                    $('#history').text(h);
                    $('#history-id').text(id);
                    if (window.mode === 1) {
                        CreateMode.init();
                    }
                    else if (window.mode === 2) {
                        $.ajax({
                            url: {% url 'recognize' %},
                            type: 'POST',
                            data: {'history-id': id},
                            success: function () {
                                window.location = {% url 'recognize' %};
                            }
                        });
                    }
                    else if (window.mode === 3) {
                        console.log('challenge mode');
                    }
                }
                else if (event.which === 3) { // right
                    let hid = $(this).find('div').text();
                    if (window.mode === 1) {
                        $.ajax({
                            url: {% url 'create' %},
                            type: 'DELETE',
                            data: {'history-id': hid},
                            success: function () {
                                alert('Deleted.');
                                window.location = {% url 'create' %};
                            }
                        });
                    }
                    else if (window.mode === 2) {
                        {#$.ajax({#}
                        {#    url: {% url 'recognize' %},#}
                        {#    type: 'DELETE',#}
                        {#    data: {'history-id': hid},#}
                        {#    success: function () {#}
                        {#        alert('Deleted.');#}
                        {#        window.location = {% url 'recognize' %};#}
                        {#    }#}
                        {#\});#}
                    }
                }
            });
        }
    });
</script>
{% block script %}
{% endblock %}
</body>
</html>