{% extends 'rhythm/base.html' %}
{% load staticfiles %}

{% block audios %}
    {% for i in request.session.range_list %}
        <audio id="chord{{ i }}" src="{{ STATIC_URL }}audio/{{ i }}.mp3" preload="auto"></audio>
    {% endfor %}
{% endblock %}

{% block container %}
    <canvas id="help" class="create">
        <p class="noCanvas">
            You need a chrome to view this.
        </p>
    </canvas>
    <canvas id="world" class="create">
        <p class="noCanvas">
            You need a chrome to view this.
        </p>
    </canvas>
    <div id="under-canvas" class="mode">
        <div>
            <button id="help-btn" class="btn btn-primary" type="button">Grid</button>
        </div>
        <div>
            <button id="reset-btn" class="btn btn-primary" type="button">Reset</button>
        </div>
        <div>
            <button id="pause-btn" class="btn btn-primary" type="button">Pause</button>
        </div>
        <div>
            <button id="update-btn" class="btn btn-primary" type="button">Update</button>
        </div>
        <div>
            <button class="btn btn-primary" data-toggle="modal" href="#enter-name">Save</button>
        </div>
    </div>
    <div class="modal fade" id="enter-name">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="border: none">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title"><strong>Please enter a name for your work:</strong></h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="work-name" autofocus="autofocus" placeholder="name"
                           style="background: transparent; margin: 20px 0;color: white;">
                </div>
                <div class="modal-footer" style="border: none">
                    <button id="save-btn" type="button" class="btn btn-primary" data-dismiss="modal">save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            $('#save-btn').click(function () {
                {% if request.user.is_authenticated %}
                    let name = $('#work-name')[0].value;
                    let history = $('#history').text();
                    console.log(name);
                    $.ajax({
                        url: {% url 'create' %},
                        type: 'POST',
                        data: {
                            'history': history,
                            'name': name
                        },
                        success: function () {
                            window.location = {% url 'create' %};
                            $('#history').text(history);
                            CreateMode.init();
                        }
                    });
                {% else %}
                    alert('Please sign in first.');
                {% endif %}
            });
            $('#update-btn').click(function () {
                {% if request.user.is_authenticated %}
                    let history = $('#history').text();
                    $.ajax({
                        url: {% url 'create' %},
                        type: 'PUT',
                        data: {
                            'history': $('#history').text(),
                            'history-id': $('#history-id').text()
                        },
                        success: function () {
                            alert('Your work has been updated!')
                            window.location = {% url 'create' %};
                            $('#history').text(history);
                            CreateMode.init();
                        }
                    });
                {% else %}
                    alert('Please sign in first.');
                {% endif %}
            })
        });
    </script>
    <script src="{{ STATIC_URL }}js/create.js"></script>
{% endblock %}
