{% extends 'rhythm/base.html' %}
{% load staticfiles %}

{% block audios %}
    {% for i in request.session.range_list %}
        <audio id="chord{{ i }}" src="{{ STATIC_URL }}audio/{{ i }}.mp3" preload="auto"></audio>
    {% endfor %}
{% endblock %}

{% block container %}
    <canvas id="help" class="create">
        <p class="noCanvas">
            You need a chrome to view this.
        </p>
    </canvas>
    <canvas id="world" class="create">
        <p class="noCanvas">
            You need a chrome to view this.
        </p>
    </canvas>
    <div id="under-canvas" class="mode">
        <div>
            <button id="help-btn" class="btn btn-primary" type="button">Grid</button>
        </div>
        <div>
            <button id="reset-btn" class="btn btn-primary" type="button">Reset</button>
        </div>
        <div>
            <button id="pause-btn" class="btn btn-primary" type="button">Pause</button>
        </div>
        <div>
            <button id="update-btn" class="btn btn-primary" type="button">Update</button>
        </div>
        <div>
            <button id="save-btn" class="btn btn-primary" type="button">Save</button>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $('#save-btn').click(function () {
            {% if request.user.is_authenticated %}
                $.ajax({
                    url: {% url 'create' %},
                    type: 'POST',
                    data: {'history': $('#history').html()},
                    success: function () {
                        alert('Your work has been saved!')
                    }
                });
            {% else %}
                alert('Please sign in first.');
            {% endif %}
        });
        $('#update-btn').click(function () {
            {% if request.user.is_authenticated %}
                $.ajax({
                    url: {% url 'create' %},
                    type: 'PUT',
                    data: {
                        'history': $('#history').text(),
                        'history-id': $('#history-id').text()
                    },
                    success: function () {
                        alert('Your work has been updated!')
                    }
                });
            {% else %}
                alert('Please sign in first.');
            {% endif %}
        })
    </script>
    <script src="{{ STATIC_URL }}js/create.js"></script>
{% endblock %}
