{% extends 'rhythm/base.html' %}

{% block container %}
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to Jump Rhythm</h1>
            <p>choose a mode and get start!</p>
            <p><a class="btn btn-primary btn-lg" href="{% url 'create' %}" role="button">Create mode</a></p>
            <p><a class="btn btn-primary btn-lg" href="{% url 'recognize' %}" role="button">Recognize mode</a></p>
            <p><a class="btn btn-primary btn-lg" href="{% url 'challenge' %}" role="button">Challenge mode</a></p>
        </div>
    </div>
{% endblock %}