{% extends 'rhythm/base.html' %}

{% block container %}
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to Jump Rhythm</h1>
            <p>choose a mode and get start!</p>
            <div>
                <a class="btn btn-primary btn-lg" href="{% url 'create' %}" role="button">Create mode</a>
                <a class="btn btn-primary btn-lg" href="{% url 'recognize' %}" role="button">Recognize mode</a>
                <a class="btn btn-primary btn-lg" href="{% url 'challenge' %}" role="button">Challenge mode</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        window.mode = 0;
    </script>
{% endblock %}