{% extends 'rhythm/base.html' %}

{% block audios %}
    {% if audio %}
        <audio id="audio-source" src="{{ audio }}"></audio>
    {% endif %}
{% endblock %}

{% block container %}
    <canvas id="world">
        <p class="noCanvas">
            You need a chrome to view this.
        </p>
    </canvas>
    <form style="display: none" enctype="multipart/form-data" action="{% url 'recognize' %}" method="post">
        {% csrf_token %}
        <input type="file" id="file-input" name="audio" accept="audio/*" onchange="AutoUploadFile()">
        <input type="submit" id="file-submit">
    </form>
    <div id="under-canvas" class="mode">
        <a>
            <button class="btn btn-primary" type="button" onclick="AutoOpenDialog()">Upload</button>
        </a>
        <a>
            <button class="btn btn-primary" type="button">Play</button>
        </a>
        <a href="#">
            <button class="btn btn-primary" type="button">Placeholder</button>
        </a>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function AutoOpenDialog() {
            $("#file-input").click();
        }

        function AutoUploadFile() {
            $("#file-submit").click();
        }

        function PlayUploadedAudio() {
            $("#")
        }
    </script>
{% endblock %}