{% extends 'rhythm/base.html' %}

{% block audios %}
    <div>

    </div>
{% endblock %}

{% block container %}
    <canvas id="world">
        <p class="noCanvas">
            You need a chrome to view this.
        </p>
    </canvas>
    <div id="under-canvas" class="mode">
        <input type="file" id="btn_file" style="display: none;">
        <a>
            <button class="btn btn-primary" type="button" onclick="AutoOpenDialog()">Upload</button>
        </a>
        <a href="#">
            <button class="btn btn-primary" type="button">Placeholder</button>
        </a>
        <a href="#">
            <button class="btn btn-primary" type="button">Placeholder</button>
        </a>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
    function AutoOpenDialog() {
        document.getElementById("btn_file").click();
    }
    </script>
    <script src="{{ STATIC_URL }}js/rhythm.js"></script>
{% endblock %}