{% extends 'rhythm/base.html' %}

{% block audios %}
    {% if request.session.src %}
    <audio id="audio-source" src="{{ request.session.src }}"></audio>
    {% endif %}
{% endblock %}

{% block container %}
    <canvas id="help" class="create">
        <p class="noCanvas">
            You need a chrome to view this.
        </p>
    </canvas>
    <canvas id="world" class="create">
        <p class="noCanvas">
            You need a chrome to view this.
        </p>
    </canvas>
    <form style="display: none" enctype="multipart/form-data" action="{% url 'recognize' %}" method="post">
        {% csrf_token %}
        <input type="file" id="file-input" name="audio" accept="audio/*">
        <input type="submit" id="file-submit">
    </form>
    <div id="under-canvas" class="mode">
        <div>
            <button id="help-btn" class="btn btn-primary" type="button">Grid</button>
        </div>
        <div>
            <button id="upload-btn" class="btn btn-primary" type="button">Upload</button>
        </div>
        <div>
            <button id="recognize-btn" class="btn btn-primary" type="button">Recognize</button>
        </div>
        <div>
            <button id="pause-btn" class="btn btn-primary" type="button">Pause</button>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/recognize.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#upload-btn').click(function () {
                $("#file-input").click();
            });

            $('#file-input').change(function () {
                $('#file-submit').click();
            });

            $('#recognize-btn').click(function () {
                RecognizeMode.recognize();
            });
        });
    </script>
{% endblock %}